<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>
    <style>
        .container {
            width: 1200px;
            min-height: 100vh;
            display: flex;
            justify-content: center;
            margin: 0 auto;
            padding: 20px;
            text-align: center;
        }
        .mainImage {
            width: 400px;
            margin-bottom: 20px;
            padding: 0;
        }
    </style>
</head>
<body class="container">
<main>
    <img src="https://img.freepik.com/free-vector/400-error-bad-request-concept-illustration_114360-1933.jpg?w=1800&t=st=1689689157~exp=1689689757~hmac=3e2d69e5d510f820cfcb946d7d4b9304a9d08a06407bde5ec68823f26cbcce41"
         class="mainImage">
    <h3>Надіслані дані не валідні</h3>
    <p>Перевірте введені дані та спробуйте знову. <a href="/note/list">Домашня сторінка</a></p>
</main>
</body>
</html>