<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>
    <style>
        .container {
            width: 1200px;
            min-height: 100vh;
            display: flex;
            justify-content: center;
            margin: 0;
            padding: 20px;
            text-align: center;
        }
        .mainImage {
            width: 400px;
            margin-bottom: 20px;
            padding: 0;
        }
    </style>
</head>
<body class="container">
<main>
    <img src="https://img.freepik.com/free-vector/403-error-forbidden-concept-illustration_114360-5571.jpg?w=1800&t=st=1689688795~exp=1689689395~hmac=be36306628248bd99d16fd1a8d981ef795b06d26e5082c079b2bedd2e313796f"
         class="mainImage">
    <h3>Ви не авторизовані, щоб мати можливість переглянути цю сторінку</h3>
    <p>Можливо ви хотіли перейти на <a href="/note/list">домашню сторінку</a></p>
</main>
</body>
</html>