<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>
    <style>
        .container {
            width: 1200px;
            min-height: 100vh;
            display: flex;
            justify-content: center;
            margin: 0;
            padding: 20px;
            text-align: center;
        }
        .mainImage {
            width: 400px;
            margin-bottom: 20px;
            padding: 0;
        }
    </style>
</head>
<body class="container">
<main>
    <img src="https://img.freepik.com/free-vector/oops-404-error-with-broken-robot-concept-illustration_114360-5529.jpg?w=1800&t=st=1689688026~exp=1689688626~hmac=da775adb97edb262b7ea2785a16aa5d556ca3d64c89594c0bf7d6b7a291cab1a"
         class="mainImage">
    <h3>Такої сторінки не існує</h3>
    <p>Можливо ви хотіли перейти на <a href="/note/list">домашню сторінку</a></p>
</main>
</body>
</html>